* {
  border-radius: 0 !important;
}

html, body {
  height: 100%;
  font-family: 'roboto', sans-serif;
}

.btn-primary {
  color: #fff;
  background-color: #1b9389;
  border-color: #148176;
  font-weight: 500;
  font-size: 1em;
  &:hover, &:active, &:focus, &:active:focus {
    background-color: #0f524d;
    border-color: #0a3f39;
  }
}

.modal-header {
  padding: .8em;
  background-color: #252525;
  border-bottom: 1px solid #e5e5e5;
  h4 {
    color: #ccc;
    font-weight: 700;
    font-size: 130%;
  }
  .close {
    color: #fff !important;
  }
}

.modal-footer {
  padding: .5em;
  border-top: 0;
  background-color: #ddd;
  border-top: solid 1px #ccc;
}

.modal-body {
  padding: .5em;
  background-color: #eee;
  .row {
    margin: 0;
    .col-md-5, .col-md-7, .col-md-4, .col-md-8 {
      padding: 0;
    }
  }
}

.category-select {
  height: 25em;
  width: 100%;
  padding: .5em;
  margin: 0;
  list-style: none;
  background-color: #fff;
  margin-top: .5em;
  border: solid 1px #ddd;
  overflow-y: scroll;
  li {
    a {
      display: block;
      font-size: 90%;
      color: #777;
      padding: .5em;
      font-weight: 500;
      &:hover, &:focus, &:active {
        text-decoration: none;
        color: #444444;
        background-color: #ddd;
      }
      &:before {
        font-family: fontawesome;
        content: '\f07b';
        font-size: 110%;
        margin-right: .5em;
        color: #148176;
      }
    }
    &.active {
      a:before {
        content: '\f07c';
      }
      ul {
        display: block;
        li a:before {
          content: '\f041';
        }
      }
    }
  }
  ul {
    list-style: none;
    padding: 0 0 0 0em;
    display: none;
    li {
      a {
        padding-left: 2.4em;
      }
      &.selected a {
        background-color: #ddd;
      }
    }
  }
}

.item-select {
  height: 25em;
  width: 100%;
  padding: .5em;
  margin: 0;
  list-style: none;
  background-color: #fff;
  margin-top: .5em;
  border: solid 1px #ddd;
  overflow-y: scroll;
  li {
    a {
      display: block;
      font-size: 90%;
      color: #777;
      padding: .5em;
      font-weight: 500;
      &:hover, &:focus, &:active {
        text-decoration: none;
        color: #444444;
        background-color: #ddd;
      }
      &:before {
        font-family: fontawesome;
        content: '\f096 ';
        font-size: 110%;
        margin-right: .5em;
        color: #148176;
      }
    }
    &.selected a:before {
      content: '\f046';
    }
  }
}

.map-content {
  min-height: 100%;
  height: 100vh;
  margin-left: 23em;
  background-color: black;
  display: block;
  position: relative;
}

body > .search-bar {
  box-sizing: border-box;
  position: absolute;
  top: 1em;
  right: 1em;
  display: block;
  width: 30em;
  input {
    border: 0;
    background-color: #fff;
    display: block;
    width: 100%;
    padding: .6em 2em .6em .4em;
    color: #777;
    font-size: 130%;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    outline: none;
  }
  .fa-search {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 130%;
    color: #919191;
    line-height: 2.5em;
    margin-right: .5em;
  }
  ul.result {
    display: none;
    list-style: none;
    padding: 0;
    border-top: solid 1px #c4c4c4;
    background-color: #ddd;
    li a {
      display: block;
      padding: .5em;
      border-bottom: dotted 1px #c4c4c4;
      color: #777;
      i {
        font-size: 150%;
        vertical-align: middle;
        padding-right: .5em;
        color: #1b9389;
      }
      &:hover {
        background-color: #c4c4c4;
        text-decoration: none;
      }
    }
  }
}

.sidebar .search-bar {
  box-sizing: border-box;
  border-bottom: solid 1px #111;
  position: relative;
  display: none;
  input {
    border: 0;
    background-color: #0e0e0e;
    display: block;
    width: 100%;
    padding: .9em 2em .9em .4em;
    color: #fff;
    font-size: 130%;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    outline: none;
  }
  i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 130%;
    color: #919191;
    line-height: 3.1em;
    margin-right: .5em;
  }
  ul.result {
    display: none;
    list-style: none;
    padding: 0;
    border-top: solid 1px #c4c4c4;
    background-color: #ddd;
    position: absolute;
    z-index: 100000;
    width: 100%;
    li a {
      display: block;
      padding: .5em;
      border-bottom: dotted 1px #c4c4c4;
      color: #777;
      i {
        font-size: 150%;
        vertical-align: middle;
        padding-right: .5em;
        color: #1b9389;
        position: static;
        line-height: 1em;
      }
      &:hover {
        background-color: #c4c4c4;
        text-decoration: none;
      }
    }
  }
}

body.show-result {
  > .search-bar .result, .sidebar .search-bar .result {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .sidebar .search-bar {
    display: block;
  }
  body > .search-bar {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 11px;
  }
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 10px;
  }
}
