<table class="table table-sm table-hover">
  <tbody>
    <tr>
      <td>Nome</td>
      <td>{{item.nome}}</td>
    </tr>
    <tr>
      <td>Ãrea</td>
      <td>{{item.area}}</td>
    </tr>
  </tbody>
</table>
