<p>Gleba</p>
<table class="table table-sm table-hover">
  <tbody>
    <tr>
      <td>Área</td>
      <td>{{item.area}}</td>
    </tr>
    <tr>
      <td>Altitude Média</td>
      <td>{{item.altitudeMedia}}</td>
    </tr>
    <tr>
      <td>Espaçamento</td>
      <td>{{item.espacamento}}</td>
    </tr>
    <tr>
      <td>Variedade</td>
      <td>{{item.variedade}}</td>
    </tr>
  </tbody>
</table>
